* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =================common================== */
a {
  text-decoration: none;
  list-style: none;
}
.btn {
  min-width: 25px;
  padding: 10px;
}
.btn:hover {
  background-color: rgb(98, 153, 98);
  border-radius: 5px;
  opacity: 0.9;
}
/* =================================header */
.header.fixed {
  position: sticky;
  top: -15px;
  z-index: 1;
}
.header__logo {
  height: 90px;
  cursor: pointer;
}
.container {
  width: 1360px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
.header__body {
  background-color: #fff;
}
.header__body,
.header__nav ul,
.header__btn {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: auto;
}
.header__nav ul {
  gap: 5px;
}
.header__nav li {
  list-style-type: none;
}
.header__nav a {
  padding: 8px 21px;
  color: #0a0a0a;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
}
.header__nav a:hover {
  background: rgb(196, 193, 193);
  border-radius: 5px;
}
.header__btn {
  margin-left: 120px;
  gap: 20px;
  text-align: center;
}
.header__btn--in,
.header__btn--up {
  color: rgb(3, 88, 3);
  gap: 20px;
  cursor: pointer;
}
/*================= header background */
.header__background {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}
.background__info {
  position: absolute;
  top: 75px;
  left: 30px;
}
.background__desc {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.background__code {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
/*========================= header search */
.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 88, 3);
  padding: 15px 20px;
}
.header__search1 {
  padding: 10px;
  background: #fff;
  position: relative;
  border-radius: 5px;
}

.header__selection,
.header__address,
.header__price {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.header__input {
  padding-left: 20px;
}
.header__search1 .header__icon {
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(3, 88, 3);
  box-shadow: 0 0 2px transparent;
  position: absolute;
  top: 1px;
  left: -15px;
}
input,
select {
  border: none;
}
.search__icon {
  color: #a7adb1;
}
.header__select {
  padding-right: 100px;
}
.header__btn2 {
  padding: 10px 25px;
  color: #fff;
  font-size: 19px;
  background-color: rgb(3, 88, 3);
  cursor: pointer;
}
.header__btn2 > i {
  margin-left: 10px;
}
/* ========================================main */
.main__img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
  overflow: hidden;
}
.main__img:hover {
  transform: scale(1.1);
}
.img__icon7 {
  position: absolute;
}
.img__icon7 > span {
  position: absolute;
  top: -180px;
  padding: 3px;
  background-color: red;
  padding-right: 15px;
  border-radius: 0 10px 10px 0;
}
.img__icon7 > i {
  position: absolute;
  left: 270px;
  top: -40px;
  filter: drop-shadow(0 0 20px #f0eeee);
}
.img__icon7 > i:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.1);
}
main {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main__body {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 0 5px #cacac7;
  border: 2px solid #fff;
}
.main__desc {
  color: #009966;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
.main__code1,
.blog__code {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #009966;
  width: 160px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.main__code1 > i {
  color: #009966;
}
.main__code {
  font-size: 20px;
  font-weight: 700;
  color: #009966;
  margin-right: 10px;
}
.main__item--container {
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}
.main__info--code {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__info--price {
  color: red;
  margin-bottom: 8px;
}
.main__info--price > span {
  color: #a7adb1;
  margin-right: 10px;
}
.main__info1 {
  font-size: 15px;
  margin-bottom: 8px;
}
.main__info--add {
  display: flex;
}
.main__info--add > i {
  margin-right: 10px;
}

.main__info--add1 {
  font-weight: 500;
  margin-bottom: 20px;
}
/* ======================================section maketing */
.work__img {
  height: 200px;
  width: 450px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.work__body {
  display: flex;
  gap: 20px;
  justify-content: center;
}
/* ====================================main blog====== */
.main__blog {
  margin-top: 90px;
  background-color: rgb(3, 88, 3);
  padding-bottom: 20px;
}
.blod__desc {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: #fff;
  font-weight: 600;
}

.blog__video {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.blog__video video:hover {
  transform: scale(1.1);
}
.blog__video video {
  transition: 0.5s;
  width: 450px;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
}
.blog__code {
  margin: 15px 0;
  color: #fff;
  border: 1px solid #fff;
  margin-left: auto;
}
/* =======================maketing img====== */
.maketing__img {
  margin-top: 60px;
  object-fit: cover;
  width: 100%;
}
.main__canho {
  margin-top: 60px;
}
/* ==========================main nguyen============ */
.main__nguyen {
  margin-top: 90px;
}
/* ===================================footer */

.footer {
  margin-top: 170px;
  padding-top: 100px;
  background: rgb(3, 88, 3);
}
.footer__column .logo {
  width: 300px;
}
.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  line-height: 1.75;
}

.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.86;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  margin: 20px 0 28px;
  display: flex;
  column-gap: 10px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: rgb(3, 88, 3);
  transition: 0.25s;
}

.footer__social-btn:hover {
  background-color: rgb(3, 88, 3);
  color: #fff;
}

.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: rgb(3, 88, 3);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
  border: none;
}

.footer-form__submit:hover {
  background-color: rgb(98, 153, 98);
  border-radius: 5px;
  opacity: 0.9;
}

.footer__copyright {
  border-top: 1px solid #406181;
}

.footer__copyright-text {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
